<!--app-dynamic-form-->
<!--<div class="app">-->
    <!--<app-dynamic-form-->
        <!--[config]="config"-->
        <!--#form="appDynamicForm"-->
        <!--(submit)="submit($event)">-->
    <!--</app-dynamic-form>-->
    <!--{{ form.valid }}-->
    <!--{{ form.value | json }}-->
<!--</div>-->
<!--<hr>-->
<div class="app">
    <app-dynamic-formgroup
        [formConfig]="formConfig"
        #form="appDynamicFormgroup"
        (submit)="submit($event)">
    </app-dynamic-formgroup>
    <!--{{ form.valid }}-->
    <!--{{ form.value | json }}-->
</div>

