This is an implementation of Todd Motto's original Dynamic forms code, as per<br>
<a href="https://toddmotto.com/angular-dynamic-components-forms"
   target="_blank">- https://toddmotto.com/angular-dynamic-components-forms</a><br>
<a href="https://github.com/toddmotto/angular-dynamic-forms"
   target="_blank">- https://github.com/toddmotto/angular-dynamic-forms</a><br><br>
<div class="app">
    <dynamic-form
        [config]="config"
        #form="dynamicForm"
        (submit)="submit($event)">
    </dynamic-form>
    {{ form.valid }}
    {{ form.value | json }}
</div>
