Example of reactive form that supports dynamic add/remove/edit/confirm/cancel functions on items with methods on themselves. Session storage service to read/write.<br><br>
<div class="grid-x">
    <div class="small-10 cell">
        <form [formGroup]="todoForm" (ngSubmit)="onSubmit(todoForm)" novalidate>
            <div class="grid-x">
                <div formArrayName="todoList" class="small-10 medium-8 large-6 cell">
                    <div *ngIf="todoForm.controls['todoList'].controls.length">
                        <ng-container *ngFor="let todo of todoForm.controls['todoList'].controls; let i=index"
                                      [formGroupName]="i"
                                      [formGroup]="todoForm.controls['todoList'].controls[i]">

                            <div class="grid-x align-middle">
                                <div class="small-12 cell">
                                    <label [for]="'name-'+i+1" [id]="'name-label-'+i+1">Title: {{i+1}}</label>
                                    <input [readonly]="todo.value.confirmed" formControlName="name" [name]="'name-'+i+1" type="text">
                                </div>
                            </div>

                            <div class="grid-x align-middle">
                                <div class="small-12 cell">
                                    <label [for]="'desc-'+i+1" [id]="'desc-label-'+i+1">Description: {{i+1}}</label>
                                    <input [readonly]="todo.value.confirmed" formControlName="desc" [name]="'desc-'+i+1" type="text">
                                </div>
                            </div>

                            <div class="grid-x align-middle">
                                <div class="small-12 cell">
                                    <button type="button" class="button" (click)="todo.toggleEdit()">{{todo.value.confirmed ? 'Edit' : 'Confirm'}}</button>
                                    <button type="button" class="button secondary" *ngIf="todo.cachedValue"  (click)="todo.cancelEdit()">Cancel edit</button>
                                    <button type="button" class="button secondary" *ngIf="!todo.cachedValue" (click)="todo.remove()">Remove</button>
                                </div>
                            </div>
                            <hr>

                        </ng-container>
                    </div>
                </div>
            </div>

            <button (click)="addItem()" type="button" class="button">Add</button>
            <button type="submit" class="button secondary">Save to Session Storage</button>
        </form>
    </div>
</div>
